.home-page {
  height: 100%;
  width:100%;
}

.home-body {
    display: inline-block;
    height:100%;
    width:100%;
    padding-left: 210px;
    overflow: auto;

    canvas {
        display: block;
        margin: 0 auto;
    }

    >  header {
        height: 30px;
        display: inline-block;
        line-height: 30px;
        background-color: darkgoldenrod;
        padding: 0 5px;
        border-radius: 0 5px 5px 0;
        margin-top: 20px;
    }

}