.home-page {
  height: 100%;
  width:100%;
}

.home-body {
    display: inline-block;
    height:100%;
    width:100%;
    margin-left: 210px;
    overflow: auto;

    canvas {
        display: block;
    }
}