html, body {
    font-family: arial;
    height:100%;
    width:100%;
    background-color: whitesmoke;
}

/************ LOGIN PAGE **************/

.login-page, .connection-page {
    background-color: #303030;
    background-image: url("./background.png");
    height:100%;
    padding-top: 10%;
    text-align: center;
}

.login-screen-body,
.connection-body {
    width: 250px;
    margin: 0 auto;
    background-color: black;
    border-radius: 5px;
    padding-top: 10px;
}

.login-screen-title,
.connection-title {
    text-align: left;
    border-left: 15px solid darkgoldenrod;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    color: white;
    position:relative;
    left: -3px;
    padding-bottom: 15px;
}

.connection-message {
    color: gray;
    height:40px;
    line-height: 40px;
}

.login-screen-input-group {
    width: 90%;
    margin: 5px auto;
}

.login-screen-input {
    background-color: silver;
    border: 1px solid silver;
    width:85%;
    height:30px;
    float: left;
    padding-left: 5px;
}

.login-screen-label {
    background-color: darkgoldenrod;
    display: inline-block;
    line-height: 30px;
    width:15%;
    height:30px;
    font-size: 10px;
}

.login-page button {
    background-color: darkgoldenrod;
    border: 1px solid darkgoldenrod;
    width: 90%;
    height:30px;
    margin: 10px auto;
}

/************* HOME PAGE ************/
.home-page {
    height: 100%;
    width:100%;
}

.home-body {
    display: inline-block;
    left: 210px;
    position:absolute;
    right:0;
    height:100%;
}

/************* HOME MENU ************/

.home-menu {
    background-color: black;
    height:100%;
    width:210px;
    display: inline-block;
    text-align: center;
}

.home-menu-item {
    height: 30px;
    border-bottom: 1px solid darkgoldenrod;
    line-height: 30px;
    text-align: left;
}

.home-menu-item-label {
    font-size: 12px;
    display: inline-block;
    color: white;
    padding-left: 5px;
    width:65px;
}

.home-menu-item-input {
    width: calc(100% - 75px);
}

.home-menu-item-input > input,
.home-menu-item-input > select, {
    width: 100%;
}

.home-menu-item-button {
    background-color: darkgoldenrod;
    width: 90%;
    margin-top: 10px;
    height: 30px;
    border: 1px solid darkgoldenrod;
}

.home-menu-header {
    color: goldenrod;
    margin: 5px;
    font-size: 22px;
}


